.debt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 422px;
    background-color: var(--gold-color);
   margin: 0 ;
  
}
.btnB{
    background-color: black;
    color: var(--gold-color);
}
.subBtn{
    width: 60%;
    border-radius: 22px;
    background-color: black;
    color: var(--gold-color);
    margin: 0 auto;
    height: 35px;
    border: none;
}
.boxShadow{
    border: 2px dashed black;
    margin-top: 10%;
    box-shadow:  0 5px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
}
.table-bordered{
border: 2px dashed black;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,minmax(250px,1fr));
    gap: 30px;
    margin-top: 5%;
    text-align: center;

}
.blackC{
    color: black !important;
}
.item{
  border: 1px dashed black;
  border-radius: 22px;
  padding: 40px ;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);;

}
.imgCard{width: 60px;
height: 60px;}
.item:hover{
    cursor: pointer;
transform: translateY(5px);}
.content{
    margin-top: 15%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}
.bg-gold{
    height: 120vh;
    background-color: var(--gold-color);
    width: 100%;
}
@media (max-width:810px) {
 .grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(250px,1fr));
 }    .bg-gold{
    height: 160vh;      
      }
}
@media (max-width:570px) {
    .grid{
       display: grid;
       grid-template-columns: repeat(1,minmax(250px,1fr));
    } 
    .content{
        margin-top: 25%;
    }
    .bg-gold{
     height: 230vh;      
       }

   }
   .btnTable{
    background-color: black;
    border: none;
    color: var(--gold-color);
    width: 100%;
   }